#Put all the ignored files here
.DS_Store
local.dev.sh
tests_ios.log
tests_mac.log
version.mf.tmp
xcodebuild_output
*.xccheckout
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
*.lock
profile
Thumbs.db
build.log

#Put all the ignored directory below "dir_to_ignore"
dir_to_ignore/
xcuserdata/
*.xcworkspace/
Assemble/
build/
DerivedData/
iOS-testCoverage/
mac-testCoverage/
output/
staging/
include/
lib/
resources/
node_modules/














